<br>
<br>
<div class="container col-sm-5 content-box">
	<div class="row align-items-center justify-content-center">
				<div class="col-sm-7 align-self-center">
					<br>
					<form action="/signup" method="post" style="text-align:center;">
						<h3 style="text-align:center;"><strong>Sign up</strong></h3>
						<br>
						<input style="text-align:center;" placeholder="Account Name" class="form-control" id="username" type="text" name="username">
						<br>
						<input style="text-align:center;" placeholder="Password" class="form-control" id="password" type="password" name="password">
						<br>
						<button class="btn-material-second btn-block"  id="submit"  type="submit">Create account</button>
					</form>
					<br>
					<div style="text-align:center; ">
						<a href="/login">Been here before? <strong>Log in</strong></a>
					</div>
					<br>
				</div>
	</div>
</div>