<html>
	<head>
		
	</head>
	<body>
		<form method="post" action="/cards/search">
			<label>Card Search</label><input name="query" placeholder="Card Name" type="text">
			<input type="submit" value="Submit">
		</form>
	</body>
</html>