<form action="/decks/new" method="post">
	<div class="form-group">
		<input class="form-control" name="name" placeholder="Deck Name" type="text">
		<textarea class="form-control" name="description" placeholder="Deck Description" name="" id="" cols="30" rows="10"></textarea>
		<textarea class="form-control" name="cards" placeholder="Enter card names here. One card per line." name="" id="" cols="30" rows="10"></textarea>
		<input type="submit" class="btn btn-primary" value="Create Deck">
	</div>
</form>