<form action="/decks/new" method="post">
	<div class="form-group">
		<input class="form-control" name="name" placeholder="Deck Name" type="text">
		<textarea class="form-control" name="description" placeholder="Deck Description" name="" id="" cols="30" rows="10"></textarea>
		<textarea class="form-control" name="cards" placeholder="Enter card names here. One card per line." name="" id="" cols="30" rows="10"></textarea>
		<textarea class="form-control" name="sideboard" placeholder="Enter sideboard card names here. One card per line." name="" id="" cols="30" rows="10"></textarea>
		<select name="format">
			<option value="" disabled selected>Select Format</option>
			<option value="casual">Casual</option>
			<option value="standard">Standard</option>
			<option value="modern">Modern</option>
			<option value="legacy">Legacy</option>
			<option value="edh">EDH</option>
		</select>
		<input type="submit" class="btn btn-primary" value="Create Deck">
	</div>
</form>