<nav class="navbar">
  <!-- Navbar content -->
  <ul>
  	<li><a href="#"></a>LOGO</li>
  	<li><a href="#"></a>Create Account</li>
  	<li><a href=""></a>Login</li>
  </ul>
</nav>

<h3>Welcome to Magic Maker, a deck building and card search tool that allows </h3>

<!-- Insert cool picture of search results here -->

<form>
	<h4>Create Account</h4>
	<input type="text" placeholder="Account Name" name="username">
	<input type="text" placeholder="Password"  name="password">
</form>