<div class="container">
	<br>
	<br>
	<div class="row justify-content-center">
		<div class="col-md-1">
			<img src="https://i.imgur.com/TOn9Mw5.png" width="80" alt="logo">
		</div>
		<div class="col-md-6">
			<h1 class="header-text">
				 Magic Maker
			</h1>
		</div>
	</div>
<br>
<div class="row justify-content-center content-box">

		
		<div class="col-md-5">
		
			<img class="img-fluid" style="border-radius: " src="https://i.imgur.com/ZfRVQQn.png" alt="">
		</div>

		<div class="col-md-6">
			<br>
			<p>
				Magic Maker is a tool to build Magic:the Gathering decks in a sleek environment, and collaborate with other Magic: the Gathering enthusiasts.
			</p>
			<p>
				Join our community today and see what all the fuss is about. Registration is free!
			</p>

		</div>

</div>
<br>
<br>
<br>
<div class="row justify-content-center">

		<div class="col-sm-6 content-box mr-auto">
			<br>
				<img class="img-fluid" src="https://i.imgur.com/B8PO20j.png?1" alt="">
			<br>
			<p>&nbsp;</p>
			<p style="text-align: center;">
				Deck building tools powered by Scryfall API.
			</p>
		</div>
		<div class="col-sm-5 content-box col-auto">
			<div class="row align-items-center justify-content-center">
						<div class="col-sm-7 align-self-center">
							<br>
							<form action="/signup" method="post" style="text-align:center;">
								<h3 style="text-align:center;"><strong>Sign up</strong></h3>
								<br>
								<input style="text-align:center;" placeholder="Account Name" class="form-control" id="username" type="text" name="username">
								<br>
								<input style="text-align:center;" placeholder="Password" class="form-control" id="password" type="password" name="password">
								<br>
								<button class="btn-material-second btn-block"  id="submit"  type="submit">Create account</button>
							</form>
							<br>
						</div>
			</div>
		</div>

</div>
</div>
