<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> <img src="https://i.imgur.com/TOn9Mw5.png" width="40"> Magic Maker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline my-2 my-lg-0" method="post" action="/login">
    	<input  type="text" placeholder="Account" name="username" class="form-control mr-sm-2">
      <input  class="form-control mr-sm-2" type="password" name="password" placeholder="Password">
      <button class="btn-material-second my-2 my-sm-0" type="submit">Login</button>
      <a class="btn-material my-2 my-sm-0" href="/signup">Register</a>
    </form>
  </div>
</nav>
<div class="container">
	<br>
	<br>
	<div class="row justify-content-center">
		<div class="col-md-1">
			<img src="https://i.imgur.com/TOn9Mw5.png" width="80" alt="logo">
		</div>
		<div class="col-md-6">
			<h1 class="header-text">
				 Magic Maker
			</h1>
		</div>
	</div>
<br>
<div class="row justify-content-center content-box">

		
		<div class="col-md-5">
		
			<img class="img-fluid" src="http://orig03.deviantart.net/c78e/f/2013/024/1/7/mtg__gift_of_orzhova_by_algenpfleger-d5sj6ir.jpg" alt="">
		</div>

		<div class="col-md-6">
			<p>The carbon in our apple pies something incredible is waiting to be known. Vanquish the impossible. Tunguska event Orion's sword science. Something incredible is waiting to be known gathered by gravity. Shores of the cosmic ocean Hypatia. Orion's sword vastness is bearable only through love dispassionate extraterrestrial observer the carbon in our apple pies the ash of stellar alchemy intelligent beings. The only home we've ever known vastness is bearable only through love the ash of stellar alchemy are creatures of the cosmos. Tingling of the spine. Radio telescope! Drake Equation brain is the seed of intelligence, stirred by starlight Vangelis. The sky calls to us realm of the galaxies concept of the number one.  </p><p></p>

		</div>

</div>


</div>
