<!DOCTYPE html>
<html>
  <head>
    <title>Magic Maker</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-material-design.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
		<script src="/js/bootstrap-material-design.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
  </head>

  <body>
      <%= yield %>
  </body>
</html>